<header id="main-nav" class="nav bg-white">
  <div class="outer-container fill-vertical">
    <section class="logo center-vertical">
      <a href="/"><picture alt="simpleremind" class="simpleremind-logo">
        <!--[if IE 9]><video style="display: none;"><![endif]--> 
        <source src="/assets/simpleremind-logo.png">
        <source src="/assets/simpleremind-logo-2x.png" media="(min-resolution: 192dpi)">
        <!--[if IE 9]></video><![endif]-->
        <noscript>
            <img src="/assets/simpleremind-logo.png" alt="simpleremind">
        </noscript>
      </picture></a>
    </section>
    <section id="user-nav" class="center-vertical">
      <% if user_signed_in? %>
        <%= link_to 'EDIT PROFILE', edit_user_registration_path, class: "btn btn-default" %>
        <%=link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%=link_to_modal "LOGIN", new_user_session_path, class: "btn btn-default" %>
        <%=link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </section>
  </div>
</header>

<% if user_signed_in? %>
  <nav id="app-nav" class="navbar navbar-inverse tab-bar" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav float-none-cascade center-text">
        <%= nav_link((fa_icon "calendar"), "/calendar") %>
        <%= nav_link (fa_icon "group"), "/contacts" %>
        <%= nav_link (fa_icon "send"), "/send" %>
        <%= nav_link (fa_icon "book"), "/reminders" %>
        <%= nav_link (fa_icon "user"), edit_user_registration_path %>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div id="app-nav-push" class="tab-bar-push">
  </div>
<% end %>