<div id="sidr" class="reminder-sidebar bg-burn">
  <div class="inner">
    <h4 class="title white hard-shadow">Upcoming Reminders</h4>
    <section class="clearfix reminder-list-headers">
      <section class="date reminder-column">
        <h5 class="reminder-column-label">Date</h5>
      </section>
      <section class="recipient reminder-column">
        <h5 class="reminder-column-label">Recipient</h5>
      </section>
    </section>
    <ul class="reminder-list">
      <li>
        <%= render :partial=>"/layouts/example_reminder" %>
        <%= fa_icon "times", class: 'destroy-reminder' %>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_reminder" %>
        <%= fa_icon "times", class: 'destroy-reminder' %>
      </li>
      <li class="failed">
        <%= render :partial=>"/layouts/example_reminder" %>
        <%= fa_icon "times", class: 'destroy-reminder' %>
        <%= fa_icon "mail-reply", class: 'resend-reminder' %>
      </li>
      <li class="delivered">
        <%= render :partial=>"/layouts/example_reminder" %>
        <%= fa_icon "times", class: 'destroy-reminder' %>
      </li>
      <li class="delivered">
        <%= render :partial=>"/layouts/example_reminder" %>
        <%= fa_icon "times", class: 'destroy-reminder' %>
      </li>
    </ul>
  </div>
  <nav id="reminder-edit-nav" class="tab-bar bg-burn to-bottom" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav center-text edit edit-nav">
        <li class="col-md-4 col-sm-4 col-xs-4"><%= fa_icon "pencil", class: 'toggle-editable', id: 'toggle-editable' %></li>
        <li class="col-md-4 col-sm-4 col-xs-4"><%= fa_icon "trash-o", class: 'toggle-destroy', id: 'toggle-destroy' %></li>
        <li class="col-md-4 col-sm-4 col-xs-4"><%= fa_icon "undo", class: 'undo', id: 'undo' %></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>