<div id="contacts-page" class="app-page splash full-page-app">
  <div class="outer-container short">
    <h2 class="white hard-shadow title">My Contacts</h2>

    <section class="clearfix reminder-list-headers">
      <section class="name reminder-column">
        <span class="reminder-column-label sortable active desc">Name</span>
      </section>
      <section class="phone-number reminder-column">
        <span class="reminder-column-label">Phone Number</span>
      </section>
      <section class="last-reminded reminder-column">
        <span class="reminder-column-label sortable">Last Reminded</span>
      </section>
      <section class="edit reminder-column">
        <span class="reminder-column-label">Edit</span>
      </section>
    </section>

    <ul class="reminder-list bg-burn padded">
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
      <li>
        <%= render :partial=>"/layouts/example_contact" %>
        <section class="edit edit-nav clearfix reminder-column">
          <%=fa_icon "pencil", class: 'col-xs-6 toggle-editable' %>
          <%=fa_icon "trash-o", class: 'col-xs-6 toggle-destroy' %>
        </section>
      </li>
    </ul>
  </div>
</div>